body{
    font-size: 62.5%;
}

nav{
    font-size: 2rem;
    background-color: black;
    color: white;

}


#list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#list .menu{
    padding: 3%;
}

ul li{
    list-style-type: none;
}

.menudér .dansmenudér{
    display: none;
}

#list > .menu:hover ul li {
    display: block;
}

.menudér, .dansmenudér{
    padding-left: 10%;
}


/* Menu téléphone */

@media screen and (max-width: 700px) {
    nav, .menu{
        display: flex;
        flex-flow: column;
        width: 50%;
        height: 50%;
    }

}



